@use "../../../styles/colors" as *;
@use "../../../styles/fontSize" as *;

.button {
  background-color: $primary-purple-base;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: $font-size-normal;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: $primary-white;
  width: fit-content;
  transition: background-color 0.25s;

  &:hover {
    background-color: $primary-purple-dark;
  }
}
