@use '../../../styles/colors' as *;
@use '../../../styles/layout' as *;

.nav {
  max-width: $max-width;
}

.link {
  align-items: center;
  color: $primary-white;
  font-weight: 500;
  transition: color 0.5s ease;
  padding: 0 16px;
  text-decoration: none;

  &:hover {
    color: $primary-purple-dark;
  }
}

.active {
  color: $primary-purple-dark;
}