$primary-purple-base: #8f74d4;
$primary-purple-dark: #5e4b8b;
$primary-purple-light: #d6ccef;
$primary-black: #121212;
$primary-gray-base: #56545b;
$primary-gray-light: #d1d1d4;
$primary-gray-dark: #2d2d2d;
$primary-white: #fff;
