$primary-purple-base: #8F74D4;
$primary-purple-dark: #5E4B8B;
$primary-purple-light: #D6CCEF;
$primary-black: #121212;
$primary-gray-base: #56545B;
$primary-gray-light: #D1D1D4;
$primary-gray-dark: #2D2D2D;
$primary-white: #FFF;