@mixin flex( $direction: row, $align: center, $justify: flex-start, $gap: 16px, $wrap: nowrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  gap: $gap;
  flex-wrap: $wrap;
}