@use '../../styles/colors' as *;
@use '../../styles/utils' as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include above-phone {
    flex-direction: row;
    align-items: flex-start;
  }
}

.poster {
  @include above-phone {
    max-width: 228px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include above-phone{
    align-items: flex-start;
  }
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;

  @include above-phone {
    flex-direction: row;
  }
}

.overview {
  text-align: center;

  @include above-phone {
    text-align: left;
  }
}

.genres {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}
