.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100% / 2, max(185px, 100% / 6)), 1fr)
  );
  gap: 16px;
  padding: 32px 0;
}

.text {
  margin-top: 24px;
}
